comfyui-frontend-package==1.42.15
comfy-kitchen>=0.2.8
comfy-aimdo==0.3.0
torchsde
einops
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp>=3.11.8
yarl>=1.18.0
pyyaml
scipy
tqdm
psutil
alembic
SQLAlchemy>=2.0.0
filelock
av>=14.2.0
simpleeval>=1.0.0
blake3
pydantic~=2.0
pydantic-settings~=2.0